"*":
  "exception-reporting":
    userId: "d9d51606-5682-bdeb-f4c6-85533f017d1c"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "monokai-shade"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    tabLength: 4
    fontFamily: "Literation Mono Powerline"
  "one-dark-ui":
    layoutMode: "Compact"
  "status-bar": {}
